service: tems-common-layer

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  profile: tems-${self:provider.stage}

layers:
  common:
    path: nodejs
    name: ${self:service}-${self:provider.stage}
    description: Common utilities and dependencies
    compatibleRuntimes:
      - nodejs20.x
    licenseInfo: MIT
    retain: false
