service: tems-common-layer

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
#  profile: tems-${self:provider.stage}

layers:
  common:
    path: nodejs
    name: ${self:service}-${self:provider.stage}
    description: Common utilities and dependencies for TEMS Lambda functions
    compatibleRuntimes:
      - nodejs20.x
    licenseInfo: MIT
    retain: false

resources:
  Outputs:
    CommonLambdaLayerQualifiedArn:
      Description: ARN of the Common Lambda Layer (with version)
      Value:
        Ref: CommonLambdaLayer
      Export:
        Name: ${self:provider.stage}-CommonLambdaLayerQualifiedArn
    
    CommonLambdaLayerArn:
      Description: ARN of the Common Lambda Layer (without version)
      Value:
        Fn::Join:
          - ':'
          - - Fn::Select:
                - 0
                - Fn::Split:
                    - ':'
                    - Ref: CommonLambdaLayer
            - Fn::Select:
                - 1
                - Fn::Split:
                    - ':'
                    - Ref: CommonLambdaLayer
            - Fn::Select:
                - 2
                - Fn::Split:
                    - ':'
                    - Ref: CommonLambdaLayer
            - Fn::Select:
                - 3
                - Fn::Split:
                    - ':'
                    - Ref: CommonLambdaLayer
            - Fn::Select:
                - 4
                - Fn::Split:
                    - ':'
                    - Ref: CommonLambdaLayer
            - Fn::Select:
                - 5
                - Fn::Split:
                    - ':'
                    - Ref: CommonLambdaLayer
            - Fn::Select:
                - 6
                - Fn::Split:
                    - ':'
                    - Ref: CommonLambdaLayer
      Export:
        Name: ${self:provider.stage}-CommonLambdaLayerArn
